.user-name{
    background-color: #00A1EE;
}

.other-user {
    color: #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #00A1EE;
    background-color: #00A1EE;
    border-radius: 5px;

}

.people hr{
    opacity: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-button{
    margin-top: 10px;
    color: #00A1EE;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
}
