.user-name{
    background-color: #1DA1F2;
}

.user-box {
    color: #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    background-color: #1DA1F2;
    border-radius: 5px;

}

.all-users hr{
    color: #1DA1F2;
    opacity: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DA1F2;
}

.user-buttons{
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    color: #1DA1F2;
    border: none;
    padding: 7px;
    font-weight: bold;
    border-radius: 50px;
}

.text-headers{
    color: #1DA1F2;
}