/* removes div background */
.user-name{
    background-color: #1DA1F2;
}

/* design and margins of friend box */
.user-box {
    color: #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    background-color: #1DA1F2;
    border-radius: 5px;

}

/* alignment and style for divider */
.all-users hr{
    color: #1DA1F2;
    opacity: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* alignment for buttons */
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DA1F2;
}

/* design for friend buttons */
.user-buttons{
    width: 100px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #1DA1F2;
    border: none;
    padding: 7px;
    font-weight: bold;
    border-radius: 50px;
}

/* design for friend headers */
.text-headers{
    color: #1DA1F2;
}