/* styling for whole page */
*{
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

/* horizontal alignment */
.home-horizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* vertical alignment */
.home-vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    /* moves inner class to half the height of the parent class */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling for buttons */
.home-vertical button{
    border: none;
    border-radius: 50px;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: #1DA1F2;
    color: #FFFFFF;
    font-weight: bold;
}

/* styling for title text */
.home-title{
    font-size: x-large;
    font-weight: bolder;
    color: #1DA1F2;
}