.form{
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color:#00A1EE;
    color: white;
}

.form input[type=text]{
    border: #FFFFFF;
    padding: 5%;
    width: 90%;
    border-radius: 5px;
    color:#00A1EE;
    margin-bottom: 10px;
}

.form-buttons{
    display: flex;
    justify-content: space-around;
    background-color: #00A1EE;
}

.form button{
    border-radius: 50px;
    padding: 5px;
    background-color: #FFFFFF;
    color: #00A1EE;
    border: none;
    padding: 7px 10px;
}



.posts{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color:#00A1EE;
    color: #FFFFFF;
}

.post-button{
    width: 75px;
    margin-top: 10px;
    margin-right: 10px;
    color: #00A1EE;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
}
