/* alignment and background style for posting form */
.form{
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color:#1DA1F2;
    color: white;
}

/* design and size for input box */
.form input[type=text]{
    border: #FFFFFF;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color:#1DA1F2;
    margin-bottom: 15px;
    text-indent: 10px;
}

/* design for form buttons */
.form-button{
    background-color: #1DA1F2;
    font-weight: bold;
    width: 100px;
}

/* design for form buttons */
.form button{
    border-radius: 50px;
    padding: 5px;
    background-color: #FFFFFF;
    color: #1DA1F2;
    border: none;
    padding: 7px 10px;
}

/* design and alignment for post box */
.posts{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color:#1DA1F2;
    color: #FFFFFF;
}

/* design for post buttons */
.post-button{
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    color: #1DA1F2;
    border: none;
    padding: 7px;
    font-weight: bold;
    border-radius: 50px;
}

/* design for timestamp */
.timestamp{
    color: #FFFFFF;
    background-color: #1DA1F2;
    font-size: 12px;
    opacity: 50%;
    margin-top: 5px;
}

/* design and alignment for post content */
.post-content{
    color: #FFFFFF;
    background-color: #1DA1F2;
    margin-top: 10px;
    margin-bottom: 10px;
}

