.form{
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color:#000080;
    color: white;
}

.form input[type=text]{
    border: #FFFFFF;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color:#000080;
    margin-bottom: 10px;
    text-indent: 10px;
}

.form-buttons{
    display: flex;
    justify-content: space-around;
    background-color: #000080;
    font-weight: bold;
}

.form button{
    border-radius: 50px;
    padding: 5px;
    background-color: #FFFFFF;
    color: #000080;
    border: none;
    padding: 7px 10px;
}

.posts{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color:#000080;
    color: #FFFFFF;
}

.post-button{
    width: 75px;
    margin-top: 10px;
    margin-right: 10px;
    color: #000080;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
}

.people b{
    color: #000080;
}

.timestamp{
    color: #FFFFFF;
    background-color: #000080;
    font-size: 12px;
    opacity: 50%;
    margin-top: 5px;
}

.post-content{
    color: #FFFFFF;
    background-color: #000080;
    margin-top: 10px;
    margin-bottom: 10px;
}

