.search-div{
    display: flex;
}

#search-bar{
    width: 60%;
    border: none;
    border-bottom: 1px solid #1DA1F2;
    opacity: 50%;
}

.search-buttons{
    color: #FFFFFF;
    background-color: #1DA1F2;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
    width: 200px;
    margin-left: 10px;
}

.user-result{
    color: #FFFFFF;
    margin-top: 15px;
    padding: 10px;
    background-color: #1DA1F2;
    border-radius: 5px;
}

.user-info{
    background-color: #1DA1F2;
    margin-top: 5px;
}