.search-div{
    display: flex;
}

#search-bar{
    width: 60%;
    border: none;
    border-bottom: 1px solid #1DA1F2;
    opacity: 50%;
}

.search-button{
    color: #FFFFFF;
    background-color: #1DA1F2;
    border: none;
    padding: 7px;
    font-weight: bold;
    border-radius: 50px;
    width: 100px;
    margin-left: 10px;
}

.result-button{
    color: #1DA1F2;
    background-color: #FFFFFF;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
    width: 100px;
    margin-top: 10px;
}

.result-box{
    color: #FFFFFF;
    margin-top: 15px;
    padding: 10px;
    background-color: #1DA1F2;
    border-radius: 5px;
}

.result-info{
    background-color: #1DA1F2;
    margin-top: 5px;
}

.result-header{
    background-color: #1DA1F2;
    color:#FFFFFF;
    font-weight: bold;
}