/* horizontal alignment */
.signup-horizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* vertical alignment */
.signup-vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    /* moves inner class to half the height of the parent class */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling for buttons */
.signup-vertical button{
    width: 100%;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    background-color: #00A1EE;
    color: #FFFFFF;
}

/* styling for title text */
.signup-title{
    font-size: x-large;
    font-weight: bold;
    color: #000000;
}

/* styling for input boxes */
.signup-input{
    border: none;
    background-color: #ECF0F3;
    border-radius: 50px;
    padding: 10px;
    margin-top: 10px;
}

/* sets alignment for form contents */
.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sets styling for links */
.signup-vertical a, a:hover, a:focus, a:active {
    margin-top: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #00A1EE;
}